.comicbook {
    max-width: 230px;
    height: 440px;
    display: inline-block;
    cursor: pointer;
    img {
        width: 100%;
        height: auto;
    }
    label {
        font-size: 1.3em;
        color: $dark-grey;
    }
}