.comicbook {
    max-width: 230px;
    height: 440px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    .cover {
        width: 100%;
        height: auto;
    }
    label {
        font-size: 1.3em;
        color: $dark-grey;
    }
    .delete-button {
      position: absolute;
      top: -15px;
      right: -15px;
    }
}