$layout-min-height: 100vh;

$dark-grey: #2E2728;
$button-red: #ED1D24;

$content-grey: #F5F3F5;

$sidebar-grey: #ECEAEC;

$modal-button-grey: #DCDCDC;

$box-grey: #FFFEFF;
$box-title-font-color: #483D3D;
$box-font-color: #8B7F82;