
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import 'helpers/variables';
@import 'helpers/margin';
@import 'helpers/padding';
@import 'helpers/positioning';

// pages
@import 'pages/layout/header';
@import 'pages/layout/footer';
@import 'pages/layout/content';

@import 'pages/components/sections';
@import 'pages/components/comicbook';

@import 'pages/characters/page';
@import 'pages/characters/character-list';
@import 'pages/characters/character';
@import 'pages/characters/favourite-list';