
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import 'helpers/variables';
@import 'helpers/margin';
@import 'helpers/padding';
@import 'helpers/positioning';
@import 'pages/App';
@import 'pages/layout/header';
@import 'pages/layout/footer';
@import 'pages/layout/content';